@tailwind base;
@tailwind components;
@tailwind utilities;
progress {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* برای مرورگرهای مبتنی بر WebKit (مانند Chrome, Edge, Safari) */
progress::-webkit-progress-bar {
  background-color: #ddd; /* رنگ پس‌زمینه */
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #4caf50; /* رنگ نوار پرشده */
  border-radius: 10px;
}

/* برای Firefox */
progress::-moz-progress-bar {
  background-color: #4caf50;
}
